:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}


body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  max-width: 80%;
  width: 100%;
  border-radius: 10px;
  padding: auto;
  display: flex;
}

.image {
  width: 40%;
  height: 100%;
  object-fit:contain;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: fit-content;
  margin: 10px 40px 10px 50px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
    h2 {
      color: hsl(217, 19%, 35%);
    }
    p {
      font-size: 13px;
      color:  hsl(214, 17%, 51%);
    }
}

.avatar {
  display: flex;
  padding: 2px;
}

.michelle img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
}

#share-button {
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
}

.open-share {
  background-color:hsl(217, 19%, 35%);
  display: flex;
  flex-direction: row;
  align-items: center;
  ul {
    list-style-type: none;
    padding: 1em;
    display: flex;
      li {
        margin-right: 1em;
      }
  }
  p {
    color: hsl(214, 17%, 51%);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

}

.attribution {
  font-size: 11px;
  text-align: center;
}


.attribution a {
  color: hsl(228, 45%, 44%);
}
